extends layout

block content
  div.w3-top
    div.w3-row.w3-large
      div.w3-col.s3
        a.w3-btn-block.w3-light-grey(href="/")  Home
      div.w3-col.s3.w3-dropdown-hover
        a.w3-btn-block.w3-light-grey(href="services")  Services      
          i.fa.fa-caret-down.w3-margin-left
        div.w3-dropdown-content.w3-light-grey(style="width:100%")
          a.w3-btn-block.w3-light-grey(href="services1")  Chef for the Holidays
          a.w3-btn-block.w3-light-grey(href="services2")  Chef for Events
          a.w3-btn-block.w3-light-grey(href="services3")  Chef for your Dates
      div.w3-col.s3
        a.w3-btn-block.w3-light-grey(href="about")  About Us
      div.w3-col.s3
        a.w3-btn-block.w3-light-grey(href="contact")  Contact
  div.logo
      a(href="/")
        img(src="images/newcompanylogo.png" alt="Chef of the Day" height="300" width="500")
  div.w3-content(style="max-width:1500px")
    header.w3-container.w3-padding-32.w3-center.w3-opacity-min.w3-margin-bottom
      div.w3-clear
      h1.w3-text-red.whitebackground
        b  Holidays Chef
      p.w3-text-red.whitebackground
        b  
          |  Chef Jamie is a 35 years old Fish Cook (Poissonier) Chef from Manila, The poissonier works with seafood, both in preparation and in cooking. He is the one of the top culinary students from Ateneo de Manila University, He/she is currently working on a top seafood restaurant in cavite.
      p.w3-text-red.whitebackground
        b
          |  If your'e looking to spend your holidays with exquisite meals and delicious foods. This is the best service we can offer to you. We can cook you first class food. From appetizers to desserts. We offer different recipes that you will want to taste and also we can cook your own recipe the way you like it. We want you to experience the best holidays by eating the meals we cook.
      h3.w3-text-red.whitebackground
        b Price Range: Php13,000.00 - Php18,000.00
      p.w3-padding-16
        a(href='contact')
          button.w3-btn(action="contact")  Go to Contact Us

    div#myGrid.w3-row(style="margin-bottom:128px")
      div.w3-third
        img(src="images/service1_1.jpg" style="width:100%")
        img(src="images/fish1.jpg" style="width:100%")
        img(src="images/meat1.jpg" style="width:100%")
        img(src="images/dessert1.jpg" style="width:100%")
        img(src="images/service1_2.jpg" style="width:100%")
        img(src="images/holidays1.jpg" style="width:100%")
  

      div.w3-third
        img(src="images/dessert2.jpg" style="width:100%")
        img(src="images/fish2.jpg" style="width:100%")
        img(src="images/service1_4.jpg" style="width:100%")
        img(src="images/meat2.jpg" style="width:100%")
        img(src="images/service1_3.jpg" style="width:100%")
        img(src="images/meat3.jpg" style="width:100%")
        

      div.w3-third
        img(src="images/fish3.jpg" style="width:100%")
        img(src="images/fish4.jpg" style="width:100%")
        img(src="images/holidays2.jpg" style="width:100%")
        img(src="images/dessert3.jpg" style="width:100%")
        img(src="images/meat4.jpg" style="width:100%")
        img(src="images/holidays3.jpg" style="width:100%")

  footer.w3-container.w3-padding-64.w3-light-grey.w3-center.w3-opacity.w3-xlarge(style="margin:-24px")
    a(href="https://github.com/deasisjohnelijah/coen3463-m2t12.git")
        i.fa.fa-github.w3-hover-text-yellow
    i.fa.fa-facebook-official.w3-hover-text-indigo
    i.fa.fa-instagram.w3-hover-text-purple
    i.fa.fa-pinterest-p.w3-hover-text-red
    i.fa.fa-twitter.w3-hover-text-light-blue
    i.fa.fa-linkedin.w3-hover-text-indigo
    p 
      h6
        span © 2017 COEN 3463 Team 12